.sign-up {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10vh;
  background-color: cyan;

    
  


}
  
.title {
      margin: 10px 0;
    }

    .form-input {
        background: none;
        background-color: white;
        color: grey;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: auto;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid grey;
        margin: 25px 0;
      }
    
      input[type='password'] {
        letter-spacing: 0.3em;
      }
    
      .form-label {
        color: grey;
        font-size: 16px;
        font-weight: normal;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 300ms ease all;
      }

