.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
}
  



  .form-input {
    background: none;
    background-color: white;
    color: grey;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: auto;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

  }
  .button{
      width: 150px;
      height: 50px;
      background-color: black;
      color: white;
      font-size: 15px;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed';
      font-weight: bolder;

    
    
  }

