.container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 10vh;
    background-color: cyan;
}